*{ margin: 0; 
padding: 0
}
.body{ 
    width: 1300px; 
    margin: 0 auto;
}
.header{
    border :1px solid #0094ff;
    margin-bottom :10PX;
    margin: 0 auto;
}
.left{
    width :250px;
    min-height:500px;
    border :1px solid #0094ff;
    float:left;
}
.right{
    float:right;
    margin: 0 auto;
    width:1000px;
    min-height:500px ;
    height :auto;
    border :1px solid #b6ff00;
}
.clr{clear: both;}
.footer{
    border :1px solid #0094ff;
    margin-top:10PX;
    margin: 0 auto;
}

